{% extends 'auctions/layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
<div style="text-align: center;">
    <h2>{{ title }}</h2>
    <br>
    <div class="row">
    <div class="col-8">
    <img style="height: 300px; width: 300px; max-height: 300px; max-width: 300px; min-width: 300px; min-height: 300px;"
        src="{{ image }}" alt="{{ description }}">
    <p><em>{{ description }}</em></p><p>Listed by: "{{ name }}"</p><br>
    </div>
    <div class="col-4">
        <h4>Comments:</h4>
        <ul class="list-group menu-scroll" style="overflow: scroll; overflow-x: hidden; max-height: 200px;">
            {% for comment in comments %}
                <li class="list-group-flush">
                    <span style="color: blue;">{{ comment.user }}</span>: {{ comment.comment }}
                </li>
                <br>
            {% endfor %}
        </ul>
        <br>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'comments' id %}" method="post"> {% csrf_token %}
                    <input type="textarea" name="comment" placeholder="Add a comment..." style="height: 40px; width: 300px; position: relative; top: 3px; border-radius: 4px; border-width: 1px;">
                    <input type="submit" class="btn btn-outline-info" name="commented" value="Comment">
                </form>
            {% endif %}
        </div>
    </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2"><span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500" style="margin-right: 25px; padding: 10px;">Highest Bid: ${{ price }}0</span></div>
        <div class="col-2"><span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500" style="margin-left: 25px; padding: 10px;">Category: {{ category }}</span></div>
        <div class="col-2">
            <span>
                {% if watchlist == "Yes" %}
                    <form action="{% url 'remove' id %}" method="post"> {% csrf_token %}
                        <button style="position: relative; top: -7px;" type="submit" class="btn btn-outline-danger" name="remove" value="False">Remove from watchlist</button>
                    </form>
                {% elif watchlist == "No" %}
                    <form action="{% url 'add' id %}" method="post"> {% csrf_token %}
                        <button style="position: relative; top: -7px;" type="submit" class="btn btn-outline-primary" name="add" value="True">Add to watchlist</button>
                    </form>
                {% endif %}
            </span>
        </div>
        <div class="col-3"></div>
    </div>
    <br><br>

    <form action="{% url 'bid' id %}" method="post"> {% csrf_token %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <input type="submit" class="btn btn-outline-success" name="bid" value="Make a bid">
                    </div>
                    <input type="number" class="form-control" placeholder="$" name="amount">
                    <input type="hidden" name="price" value="{{ price }}">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </form>
    <br>
        {% if close == 1 %}
        <form action="{% url 'close' id %}" method="post"> {% csrf_token %}
            <button style="align-items: center;" type="submit" class="btn btn-outline-danger" name="close" value="False">Close Auction</button>
            <input type="hidden" name="current_bid" value="{{ price }}">
        </form>
        {% endif %}
    {% else %}
        <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500" style="margin-right: 25px; padding: 10px;">Highest Bid: ${{ price }}0</span>
        <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500" style="margin-left: 25px; padding: 10px;">Category: {{ category }}</span>
    {% endif %}
</div>
{% endblock %}