{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center;">Watchlist</h2><br><br>
{% for item in items %}
    {% if item.listed == True %}
        <div style="text-align: center;">
            <a style="text-decoration: none; color: black;" href="{% url 'listing' item.id %}">
                <h3><div>{{ item.name }}</div></h3>
                <div><img style="height: 400px; width: 400px; max-height: 400px; max-width: 400px; min-width: 400px; min-height: 400px;" src="{{ item.url }}" alt="{{ item.description }}"></div>
                <p><em><div>{{ item.description }}</div></em></p><br>
                <p>Highest Bid: $<span>{{ item.price }}</span></p>
                <p>Category: <span>{{ item.category }}</span></p>
            </a><br><br>
            <hr><br><br>
        </div>
        <input type="hidden" name="title" value="{{ item.name }}">
        <input type="hidden" name="image" value="{{ item.url }}">
        <input type="hidden" name="description" value="{{ item.description }}">
        <input type="hidden" name="price" value="{{ item.price }}">
        <input type="hidden" name="category" value="{{ item.category }}">
    {% endif %}
{% endfor %}
{% endblock %}